
.app {
  display: grid; 
  gap: 1rem; 
  place-items: left; 
  grid-template-rows: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.funcionarios {
    border: 1px solid rgb(101, 103, 133);
    border-radius: 25px;
    padding: 1em;
    font-weight: 600;
    box-shadow: 0.1em 0.1em 0,2em;
    background-color: whitesmoke;
}
.funcionarios h3 {
  color: darkblue;
}
.funcionarios h4 {
  color: darkred;
}


.dependentes {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 0.5em;
    font-weight: 600;
    font-size: small;
    box-shadow: 0.1em 0.1em 0,2em;
    background-color:white;
}

